@charset "UTF-8";

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@plugin "tailwindcss-safe-area-capacitor";
@import 'delta-comic-core/style.css';

* {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.van-floating-panel__header-bar {
  pointer-events: none;
}

.v-binder-follower-container {
  z-index: 1000000 !important;
}

#messages {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 2147483647;

  * {
    pointer-events: all;
  }
}

* {
  --van-tab-active-text-color: var(--van-tabs-bottom-bar-color) !important;
  --van-tabs-padding-bottom: 10px;
  --bili-blue: #00aeec;
  --p-color: var(--nui-primary-color);
  --van-tabs-line-height: 44px;
}

html,
body {
  overflow: hidden !important;
}

input::-webkit-search-cancel-button {
  display: none;
}

.use-backdrop-blur-md {
  backdrop-filter: blur(12px);
}

* .n-progress-graph-line-indicator {
  display: none !important;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition:
    transform 420ms cubic-bezier(0.22, 1.5, 0.5, 1),
    opacity 240ms ease-out;
  will-change: transform, opacity;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-leave-active {
  position: absolute;
}

.van-tabs {
  .van-tabs__content {
    height: 100% !important;
  }
}