name: 构建和发布

on:
  push:
    branches:
      - 'main'

permissions:
  contents: write

jobs:
  build:
    if: ${{ github.event.head_commit && startsWith(github.event.head_commit.message, 'release-') }}
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

        
# rust
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android, armv7-linux-androideabi, i686-linux-android, x86_64-linux-android


# js
      - name: Build script run pm
        run: chmod +x ./script/*

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.27.0

      - name: Use Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Change depends
        run: sh ./script/install.sh

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile


# java
      - name: JDK 23
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '23'
          cache: "gradle"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.2
        with:
          log-accepted-android-sdk-licenses: false

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1.5.0
        id: setup-ndk
        with:
          ndk-version: r29
          link-to-sdk: true
          local-cache: true

      - name: Init android project
        run: |
          pnpm dlx @tauri-apps/cli android init

      - name: setup Android signing
        if: matrix.mobile == 'android'
        run: |
          cd src-tauri/gen/android
          echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" > keystore.properties
          echo "password=${{ secrets.ANDROID_KEY_PASSWORD }}" >> keystore.properties
          base64 -d <<< "${{ secrets.ANDROID_KEY_BASE64 }}" > $RUNNER_TEMP/keystore.jks
          echo "storeFile=$RUNNER_TEMP/keystore.jks" >> keystore.properties


# build
      - name: Build Android App
        uses: tauri-apps/tauri-action@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
        with:
          mobile: "android"
          args: ""
          retryAttempts: 1